.business-card {
    border: 2px solid black;
    border-radius: 15px;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, sans-serif; 
    background: #d0f1fb;
}
.Organization {
    color: #2f2ffd;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.Card {
   display: flex;
   align-items: center;
   padding: 10px;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    border: 1px solid #080808;
}
.image:hover {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    border: 1px solid #080808;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}
.info {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 1px;
    COLOR: #080809; 
    font-weight: bold;
    line-height: 4.9px;    
}
.button {
    text-align: center;
    margin-top: 50px;
    background-attachment: scroll;
    button {
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer; 
    }
}
.button button:hover {
    background-color: #136317;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}


